
ul{
    margin:0 20px 0 20px;
    text-align: center;
    border: 0;
}
li{
   padding:0 20px 0 20px;
   text-align: center;
   font-size: 20px;
   border: 0;
   border-radius: 4px;
}
li:hover{
    background-color: darkorange;
}
.active {
    background-color: darkorange;
}
.body{

    background-color: rgb(155, 160, 160)

}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}