<!-- <div style="background-color:darkorange;">
  <span>wecome to my web</span>
</div> -->
<div class="navbar navbar-inverse top" style="border:0px;margin-bottom: 0px; background-color: rgb(73, 75, 74);">
  <div class="container" >
      <ul class="nav navbar-nav" style="margin-left: -15px;" >
        <li  >
          <a [routerLink]="['home']"  class="aa" style="color: aliceblue; "  >主页</a>
        </li>
        <li>
          <a [routerLink]="['lifes']"   [queryParams]="list" class="aa">生活</a>
        </li>
        <li>
          <a [routerLink]="['technology']"  class="aa">技术</a>
        </li>
        <li>
          <a href="#" target="_blank">留言</a>
        </li>
        <li>
          <a href="#" target="_blank">标题5</a>
        </li>
        <li>
          <a   [routerLink]="['addarticle']"  >新增</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li><a (click)="login()">登录</a></li>
      </ul>
    
  </div>
</div>
 <router-outlet></router-outlet>
 