<div style="background-color:darkorange;">
  .
</div>
<div class="navbar navbar-inverse" style="border:0px;margin-bottom: 0px; background-color: rgb(73, 75, 74);">
  <div class="container">
      <ul class="nav navbar-nav" style="margin-left: -15px;">
        <li  >
          <a href="/home" class="aa" style="color: aliceblue; "  >主页</a>
        </li>
        <li>
          <a href="/lifes"  class="aa">展示</a>
        </li>
        <li>
          <a href="#" target="_blank">标题3</a>
        </li>
        <li>
          <a href="#" target="_blank">标题4</a>
        </li>
        <li>
          <a href="#" target="_blank">标题5</a>
        </li>
        <li>
          <a class="reddot" href="#" target="_blank">网站实例</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li>
          <a href="#">关于</a>
        </li>
      </ul>
    
  </div>
</div>
 <router-outlet></router-outlet>
 