<div style="background-color:darkorange;">
  .
</div>
<div class="navbar navbar-inverse " style="border:0px;margin-bottom: 0px;">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-sm" href="#" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">MyApp</a>
    </div>
    <div class="navbar-collapse collapse" role="navigation" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="hidden-sm hidden-md">
          <a href="#" router-link="/home" >主页</a>
        </li>
        <li>
          <a href="#" target="_blank">标题2</a>
        </li>
        <li>
          <a href="#" target="_blank">标题3</a>
        </li>
        <li>
          <a href="#" target="_blank">标题4</a>
        </li>
        <li>
          <a href="#" target="_blank">标题5</a>
        </li>
        <li>
          <a class="reddot" href="#" target="_blank">网站实例</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li>
          <a href="#">关于</a>
        </li>
      </ul>
    </div>
  </div>
</div>
 <router-outlet></router-outlet>
 