.row{

    margin: -10px -15px 0px -15px;

}
.icon2{

    font-size: 17px; color: rgb(168, 163, 163);

}
.icon2 :hover{
    font-size: 20px; color: rgb(226, 7, 7);
}
.summary{

    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}